#viewer{
    position: relative;
    width: 640px;
    height: 360px;
}
img{
    position: absolute;
    max-width: 100%;
    object-fit: cover;
    height: auto;
    display: none;
    opacity: 9.0;
}

#pre, #next{
    position: absolute;
    top: 45%;
    width: 1em;
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 3em;
    opacity: 0.6;
}

#pre{
    left: 10px;
}

#next{
    right: 10px;
}

.page, .nowpage{
    position: absolute;
    padding: none;
    height: 7px;
    background-color: white;
    border-radius: 1em;
    top: 96%;

}

.page{
    opacity: 0.4;
}
